<% include partials/header %>
<div class="ui items">
  <div class="item">
    <div class="ui segment">
  <div class="buttons">
      <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
        <button class="ui right floated negative  basic small button">Delete</button>
      </form>
      <a class="ui right floated secondary basic small button" href="/blogs/<%= blog._id %>/edit">Edit</a>
  </div>
  <div class="image"><img class="ui centered medium image" src="<%= blog.image%>"></div>
  <div class="content">
      <a class="header"><%= blog.title%></a>
      <div class="description">
        <p><%- blog.body %></p>
      </div>
      <div class="extra">
        <%= blog.created.toGMTString() %>
      </div>
  </div>
</div>

  </div>
</div>




<div class="ui items">
  <div class="item">
    <div class="image">
      <img >
    </div>
   
    
  </div>
</div>

<% include partials/footer %>