<% include partials/header %>
<div class="ui segment">
  <div id="menu">
      <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
        <button class="ui negative  basic large button">Delete</button>
      </form>
      <a class="ui secondary basic large button" href="/blogs/<%= blog._id %>/edit">Edit</a>
    </div>
  <img class="ui centered medium image" src="<%= blog.image%>">
   <div class="content">
      <a class="header"><%= blog.title%></a>
      <div class="description">
        <p><%- blog.body %></p>
      </div>
      <div class="extra">
        <%= blog.created.toGMTString() %>
      </div>
  </div>
</div>

<div class="ui items">
  <div class="item">
    <div class="image">
      <img >
    </div>
   
    
  </div>
</div>

<% include partials/footer %>